/* .performance{
    margin: 20px auto;
    height: 150px;
    width: 150px;
    
   
    transform: rotateZ(45deg);
} */
.fg {
    transform: rotate(-90deg);
    transform-origin: 125px 125px;
  }

  .circle{
    transform: rotateZ(90deg);
  }