.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.porgressbar{
  width: 900px;
  height: 10px;
  background-color: white;
  margin-bottom: 20px;
}
.porgressbar div{
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}

/* li .activee {
  color: #7ED956;
  font-weight: bold;

}

.navbar {

  .navbar-nav li {
    color: black;
  }

  .navbar-nav li.active a {
    color: #7ED956;
    font-weight: bold;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}


.nav1 {
  background: transparent;
} */

